html, body {
    height: 100%;
    font-family: 'Prompt', sans-serif;
    background-color: floralwhite;
}
.bg-alpha {
    background: #b4e0ff96;
}
.navbar-brand {
    padding: 15px;
    transition: 0.5s;
}
@media (max-width: 480px) {
    .navbar-brand {
        padding: 0px;
        transition: 0.5s;
    }
}
.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
}
.border-short-bottom {
    position: relative;
    padding: 20px 0;
    margin-bottom: 20px;

}
.border-short-bottom::after {
    position: absolute;
    content: "";
    width: 300px;
    height: 1px;
    bottom: 0;
    left: 50%;
    margin-left: -150px; /* width/2 */
    background: rgb(90, 90, 90);
}
.btn-teal {
    color: rgb(90, 90, 90);
    background-color: #b4e0ff96;
    border-color: #b4e0ff96;
}
.wrapper-crad-img {
    position: relative;
    padding-top: 56.25%; /* 16:9 */
    overflow: hidden;
}
.wrapper-crad-img img {
    position: absolute;
    top: 0;
    transition: 2s;
}
.wrapper-crad-img img:hover {
    transform: scale(1.1);
    opacity: 0.5;
}
.semi-footer {
    background-color: #b4e0ff96;
    color: rgb(90, 90, 90);
}
.semi-footer a {
    color: rgb(90, 90, 90);
    text-decoration: none;
    transition: 0.5s;
}
.semi-footer a:hover {
    color: floralwhite;
    transform: scale(1.1);
}
.icon-hold {
    color: #559dd1;
    transition: 0.5s;
}
.icon-hold:hover {
    color: floralwhite;
    transform: scale(1.1);
}
.semi-footer h4 {
    color: #559dd1;
    border-bottom: 1px solid #559dd1;
    padding: 10px 0;
}
.footer {
    font-size: 0.7rem;
    height: 90px;
    line-height: 90px;
    text-align: center;
}
.footer a {
    color: #0d6efd;
    text-decoration: none;
}
/* index */
.wrapper-crad-img2 {
    position: relative;
    padding-top: 56.25%; /* 16:9 */
    overflow: hidden;
}
.wrapper-crad-img2 img {
    position: absolute;
    top: 0;
}
.birth {
    text-align: center;
    margin: 0;
    font-size: x-small;
    padding-bottom: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.namebanner {
    margin: 1rem 0;
    border: 2px solid #00000000;
    transition: all 0.50s ease;
    font-family: Arial, Helvetica, sans-serif;
}
.namebanner:hover {
    border: 2px solid rgba(21, 124, 128);
    color: rgba(21, 124, 128);
    transition: color 0.3s ease-in;
    opacity: 20%;
    background-color: rgba(21, 124, 128, 0.2);
}
.cir-img img{
    border-radius: 50%;
}
.cen {
    display: flex;
    justify-content: center;
}
.border-ra10 {
    border-radius: 10px;
}
.card-link {
    color: #0d6efd;
    text-decoration: none;
}
.ghost-button a{
    text-decoration: none;
    color: #383736;
}
.ghost-button {
    height: 45px;
    width: 150px;
    margin: 10px 7px;
    padding: 10px 5px 5px 5px;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
    color: #383736;
    border: 2px #383736 solid;
    border-radius: 4px;
    text-transform: uppercase;
    outline: 0;
    overflow: hidden;
    background: none;
    cursor: pointer;
    position: relative;
    left: 50%;
    margin-left: -75px; /* width/2 */
}
.ghost-button:before {
    position: absolute;
    color: #383736;
    left: 88%;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in;
}
.ghost-button:hover:before {
    left: 91%;
    opacity: 1;
}

.ghost-button:hover {
    border: 0px;
    -webkit-transform: scale(1.05, 1.05);
    -webkit-transition: border 0.3s ease-out;
    -webkit-transition: transform 250ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
}
/* about */
.page-title {
    position: relative;
    display: block;
    padding-top: 280px;
    padding-bottom: 100px;
    color: white;
}
.timeline {
    list-style: none;
    position: relative;
    padding: 20px 0 20px;
}
.timeline > li {
    position: relative;
    margin-bottom: 45px;
}
.timeline::before {
    content: "";
    width: 2px;
    background: #559dd1;
    position: absolute;
    top: 0;
    bottom: 15px;
    left: 50%;
    margin-left: -1px; /* width/2 */
}
li > .timeline-badge {
    position: absolute;
    width: 18px;
    height: 18px;
    border: 2px solid #559dd1;
    left: 50%;
    margin-left: -9px;
    border-radius: 50%;
    background: floralwhite;
    top: 15px;
    box-shadow: 0 0 0 5px rgb#559dd1;
}
li > .timeline-badge::before {
    content: "";
    position: absolute;
    top: 5px;
    right: 25px;
    width: 25px;
    height: 2px;
    background: #559dd1;
}
li.inverted > .timeline-badge::before {
    right: -32px;
}
li > .timeline-badge p {
    width: 200px;
    margin-top: -9px;
    margin-left: 25px;
    font-weight: bold;
}
li.inverted > .timeline-badge p {
    float: right;
    text-align: right;
    margin-right: 25px;
}
li > .timeline-card {
    width: 45%;
    float: left;
    text-align: right;
    padding: 0 10px;
    position: relative;
}
li.inverted > .timeline-card {
    float: right;
    text-align: left;
}
.timeline > li::after {
    content: "";
    clear: both;
    display: block;
}
.timeline-arrow {
    width: 100%;
    text-align: center;
    bottom: -66px;
    color: #559dd1;
}
/* ☆★ */
.star-rating {
    position: relative;
    font-size: 2em;
    color: gold;
    display: inline-block;
}
.star-current {
    position: absolute;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
}
@media (max-width: 768px) {
    .timeline::before, .timeline-badge {
        left: 40px !important;
    }
    .timeline-badge::before {
        right: -32px !important;
    }
    .timeline-badge p, li.inverted > .timeline-badge p {
        margin-left: 50px !important;
        text-align: left;
        float: left;
    }
    li > .timeline-card {
        width: 100%;
        text-align: left;
        padding: 37px 0 0 85px;
    }
    .timeline-arrow {
        text-align: left;
        left: 0;
    }
    .timeline-arrow > i {
        margin-left: 28px;
    }
    
}
/* blog */
.blog-image {
    padding: 280px 0px 100px;
    text-align: center;
    color: #fff;
    background: rgb(0, 0, 0, 0.2);
}
.btn-group-custom button {
    margin-bottom: 0.5rem;
    width: 100px;
}
/* blog-detail */
.blog-shadow {
    padding: 50px 100px;
    box-shadow: 0px 0px 10px rgb(90, 90, 90);
    background: rgb(255, 253, 249);
}
@media (max-width: 991px) {
    .blog-shadow {
        padding: 40px 50px;
    }
}
@media (max-width: 768px) {
    .blog-shadow {
        padding: 20px 30px;
    }
}
/* On to top */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 15px;
    right: 15px;
    z-index: 9999; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #b4e0ff96;
    color: rgb(90, 90, 90);
    cursor: pointer; /* Add a mouse pointer on hover */
    border-radius: 50% !important;
    font-size: 28px;
    text-align: center !important;
}
#myBtn:hover {
    background: #50799796;
    color: floralwhite;
}
@media (max-width: 768px) {
    #myBtn {
        width: 45px;
        height: 45px;
        text-align: center !important;
        border-radius: 10px !important;
    }
}